<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
    <input class="buscarArticulo" placeholder="Buscar" [(ngModel)]="articuloBuscado">
    <i class="btn-buscar" (click)="buscarArticulo()">Buscar</i>
    </div>
    <div *ngIf="articuloEncontrado!=0">
        <div class="lista-cards">
        <div class="card" *ngFor="let item of listaCoincidencias">
            <div class="card-header">
                <img [src]="item.imagen" height="75px" width="70px" align-content="center">
                <p>{{item.marca}}</p>
            </div>
            <div class="card-body" >
                <span *ngIf="item.medida">Medida: {{item.medida}}</span>
                <span *ngIf="item.rodado">Rodado: {{item.rodado}}</span>
                <span *ngIf="item.material">Material: {{item.material}}</span>
                <span *ngIf="item.peso">Peso: {{item.peso}}</span>
                <span *ngIf="item.precio">Precio: ${{item.precio}}</span>
            </div>
            <button class="btn-carrito" (click)="agregarCarrito(item)">Agregar</button>
        </div>
    </div>

    </div>
<div class="lista-cards">
    <div class="card" *ngFor="let articulo of articulos">
        <div class="card-header">
            <img [src]="articulo.imagen" height="75px" width="70px" align-content="center">
            <p>{{articulo.marca}}</p>
        </div>
        <div class="card-body" >
            <span *ngIf="articulo.medida">Medida: {{articulo.medida}}</span>
            <span *ngIf="articulo.rodado">Rodado: {{articulo.rodado}}</span>
            <span *ngIf="articulo.material">Material: {{articulo.material}}</span>
            <span *ngIf="articulo.peso">Peso: {{articulo.peso}}</span>
            <span *ngIf="articulo.precio">Precio: ${{articulo.precio}}</span>
        </div>
         <button class="btn-carrito" (click)="agregarCarrito(articulo)">Agregar</button>
    </div>
    </div>


</body>
