.listaCarrito{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    text-align: center;
}


.card{
  align-content: center;
}


.tabla{
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;
  border: 1px solid black;
}



.tabla-tr{
  justify-content: space-between;
}
.btn-carrito{
  font-size: 8px;
  display: inline-flex;
  background-color: #7AAB39;
  border: 1px solid black;
  border-radius: 4px;
}

.btn-quitar{
  display: flex;
  float: right;
}


.grilla{
  display: flex;
  text-align: center;
  border: 1px solid black;
  width: 100%;

}
.mini-imagen{
  height: 45px;
  width: 50px;
  align-content: center;

}


.cabecera{
  display: inline-flex;
  margin-left: 50px;
}

.linea {
  border-top: 1px solid black;
  height: 2px;
  max-width: 200px;
  padding: 0;
  margin: 20px auto 0 auto;
}

.total{
  color: aliceblue;
  background-color: #658f3e;
  display:flex;
  align-content: center;
  text-align: center;
  border: 12px solid #658f3e;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  font-size: 15px;
}

.total p{
  margin: auto;
  display: flex;
  text-align: center;
  align-items: center;
}


