<div class="listaCarrito">
    <div class="card">

        <div *ngFor="let item of productosSeleccionados">
            <!-- <div class ="cabecera">
              <article >
                <span><b>>Marca</b></span>
                <span><b>>Precio</b></span>
                <span><b>>Tipo</b></span>
                <span><b>>Material</b></span>
                <span><b>>Medida</b></span>
                <span><b>>Rodado</b></span>
                <span><b>>Peso</b></span>
              </article>
            </div> -->
            <div class="grilla">
                <article>
                  <!-- <img class="mini-imagen" [src]="item.imagen" alt="" height="75px" width="70px" align-content="center"> -->
                  <img class="mini-imagen" [src]="item.imagen" alt="" height="75px" width="75px">
                  <span> Marca: {{item.marca}}</span><br>
                  <span> Precio: {{item.precio}}</span>
                  <button  (click)="quitarProducto(this.item)" class="btn-quitar"> X </button>
                  <div class="linea"></div>
                  <br>
              </article>
            </div>
        </div>
        <p *ngIf="!productosSeleccionados.length"> Parece que no agregaste ningun articulo a tu carrito :( </p>
        <p class="total" *ngIf="productosSeleccionados.length">Total: {{ totalPrecio() }}</p>
    </div>

</div>
