<div class="listaCarrito">
    <div class="card">

        <div *ngFor="let item of productosSeleccionados"  class="grilla">
            <img class="mini-imagen" [src]="item.imagen" alt="" height="75px" width="70px" align-content="center">
            <!-- <div class ="cabecera">
              <article >
                <span><b>>Marca</b></span>
                <span><b>>Precio</b></span>
                <span><b>>Tipo</b></span>
                <span><b>>Material</b></span>
                <span><b>>Medida</b></span>
                <span><b>>Rodado</b></span>
                <span><b>>Peso</b></span>
              </article>
            </div> -->
            <div class="grilla">
                <article>
                  <span> Marca: {{item.marca}}</span>
                  <span> Precio: {{item.precio}}</span><br>
                <button  (click)="quitarProducto(this.item)"> quitar</button>

              </article>
            </div>
        </div>
        <p class="total" *ngIf="productosSeleccionados.length">Total: {{ totalPrecio() }}</p>
    </div>

</div>
