<div class="container">
    <form action="action_page.php">
  
      <label for="fname">Nombre</label>
      <input type="text" id="fname" name="firstname" placeholder="Nombre..">
  
      <label for="lname">Apellido</label>
      <input type="text" id="lname" name="lastname" placeholder="Apellido..">
  
      <label for="animal">Animal</label>
      <select id="animal" name="animal">
        <option value=""></option>
        <option value="perro">Perro</option>
        <option value="gato">Gato</option>
        <option value="roedor">Roedor</option>
        <option value="ave">Ave</option>
        <option value="otro">Otro</option>
      </select>
  
      <label for="subject"></label>
      <textarea id="subject" name="subject" placeholder="Motivo por la consulta?" style="height:200px"></textarea>
  
      <input type="submit" value="Submit">
  
    </form>
  </div>
